<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu App</title>
  </head>
  <body>
    <div id="week">

      <div class = "day">
        <h2>Day 1</h2>
        <p id="day_0"></p>

        <!-- DAY_0 AKERS -->
        <h3>AKERS</h3>
        <div class="hall">

          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_AKERS_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_AKERS_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_AKERS_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 BRODY -->
        <h3>BRODY</h3>
        <div class="hall">
          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_BRODY_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_BRODY_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_BRODY_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 CASE -->
        <h3>CASE</h3>
        <div class="hall">
          <p id="day_0_CASE"></p>

          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_CASE_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_CASE_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_CASE_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 HOLDEN -->
        <h3>HOLDEN</h3>
        <div class="hall">
          <p id="day_0_HOLDEN"></p>

          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_HOLDEN_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_HOLDEN_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_HOLDEN_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 HOLMES -->
        <h3>HOLMES</h3>
        <div class="hall">
          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_HOLMES_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_HOLMES_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_HOLMES_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 LANDON -->
        <h3>LANDON</h3>
        <div class="hall">

          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_LANDON_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_LANDON_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_LANDON_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 OWEN -->
        <h3>OWEN</h3>
        <div class="hall">

          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_OWEN_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_OWEN_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_OWEN_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 SHAW -->
        <h3>SHAW</h3>
        <div class="hall">
          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_SHAW_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_SHAW_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_SHAW_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 SNYDER_PHILLIPS -->
        <h3>SNYDER PHILLIPS</h3>
        <div class="hall">
          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_SNYDER_PHILLIPS_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_SNYDER_PHILLIPS_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_SNYDER_PHILLIPS_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

        <!-- DAY_0 WILSON -->
        <h3>WILSON</h3>
        <div class="hall">
          <div class="menu">
            <h5>BREAKFAST</h5>
            <div class="breakfast">
              <p id="day_0_WILSON_breakfast"></p>
            </div>
            <h5>LUNCH</h5>
            <div class="lunch">
              <p id="day_0_WILSON_lunch"></p>
            </div>
            <h5>DINNER</h5>
            <div class="dinner">
              <p id="day_0_WILSON_dinner"></p>
            </div>
          </div>
          <!-- div menu -->
        </div>
        <!-- div hall -->

      </div>
      <!-- div day -->





      <h2>Day 2</h2>
      <p id="day_1"></p>

      <h2>Day 3</h2>
      <p id="day_2"></p>
      
      <h2>Day 4</h2>
      <p id="day_3"></p>

      <h2>Day 5</h2>
      <p id="day_4"></p>

      <h2>Day 6</h2>
      <p id="day_5"></p>

      <h2>Day 7</h2>
      <p id="day_6"></p>

    </div>
    <!-- div week -->


    <script type="text/javascript"
    src="{{ url_for('static', filename='menus.js') }}"></script>
  </body>
</html>